GATSBY_SANITY_PROJECT_ID="h68vg9fr"
# GATSBY_SANITY_PROJECT_ID="vex3sz40"
GATSBY_SANITY_DATASET="production"

# Copy this file to .env.development for local development.
# Note: After copying DO NOT commit this file to git!
SANITY_READ_TOKEN="skhZ1sOfNT7l8h7KAKwJjPdcx5B9I7OW5e5TYAXFU8yHOPMj5G80Jzg5iiouoJKnHDDbrS6zPjRAZYWMIduEmiJ0Kq1B13LeBk69D3boUbqnVrVymKqokVaxliwsTO0Cr2ToEO9xS2gw1zfGTARJtouYUrVaaJ5kJkUX6ll8m5wbeLhvNLaF"
